@*
    Favourites card
*@

@inject IJSRuntime JSRuntime
@inject ISnackbar Snackbar
@inject NavigationManager NavMan

@using BlazorDexie.JsModule
@using Cashier.Services
@using MudBlazor

<MudCard @onclick="OnCardClick" Outlined="true">
    <MudCardHeader Style="@($"background: {Cashier.Lib.Palette.Primary};")" Class="px-2 pt-2 pb-1">
        <CardHeaderAvatar>
            <MudIcon Icon="@IconsMud.Star" Size="Size.Medium" />
        </CardHeaderAvatar>
        <CardHeaderContent>
            <MudText>Favourites</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent Class="pa-0">
        @if (accounts == null || accounts.Length == 0)
        {
            <MudText>There are no favourite accounts defined</MudText>
        }
        else
        {
            <MudSimpleTable Dense>
                <tbody>
                    @foreach (var account in accounts)
                    {
                        <tr>
                            <td class="pl-2 pr-1">@account?.Name</td>
                            <td style="text-align: end;" class="pl-1 pr-2">@account?.Balances?.FirstOrDefault()</td>
                        </tr>
                    }
                </tbody>
            </MudSimpleTable>
        }
    </MudCardContent>
</MudCard>

@code {
    Account?[]? accounts;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        // load data
        await loadData();
    }

    async Task loadData()
    {
        var svc = SettingsService.CreateInstance(JSRuntime);

        // var defaultCurrency = await svc.GetDefaultCurrency();
        // Console.WriteLine("default currency: {0}", defaultCurrency);

        accounts = await svc.GetFavouriteAccounts(5);

        StateHasChanged();
    }

    void OnCardClick()
    {
        // Open Favourites
        NavMan.NavigateTo("/favourites");
    }
}
