@*
    Favourites card
*@
@using MudBlazor

<MudCard Class="@Class" Outlined="true" Style="background-color: transparent;">
    <MudCardHeader Style="@($"background: {Cashier.Lib.Palette.Primary};")" Class="px-2 pt-2 pb-1">
        <CardHeaderAvatar>
            <MudIcon Icon="@IconsMud.Star" Size="Size.Medium" />
        </CardHeaderAvatar>
        <CardHeaderContent>
            <MudText>Financial Forecast</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent Class="pa-0">
        @if (accounts == null || accounts.Count == 0)
        {
            <MudText>There are no accounts selected for forecasting</MudText>
        }
        else
        {
            <MudSimpleTable Dense Style="background-color: transparent;">
                <tbody>
                    @foreach (var account in accounts)
                    {
                        <tr>
                            <td class="pl-2 pr-1">@account?.Name</td>
                            <td style="text-align: end;" class="pl-1 pr-2">@account?.Balances?.FirstOrDefault()</td>
                        </tr>
                    }
                </tbody>
            </MudSimpleTable>
        }
    </MudCardContent>
</MudCard>

@code {
    [Parameter]
    public string? Class { get; set; }

    List<Account> accounts = [];
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

    }


}
