@using Cashier.Code

<div class="navHeaderBox" style="background-color: @accent;">
    <div style="width: 56px;">
        <img src="/img/icon-64.png" style="max-width: 100%; max-height: 100%;" />
    </div>

    <div style="font-size: 2rem; margin-top: 0.6rem;">Cashier</div>
</div>

@code {
    const string accent = Palette.Primary;
}