<FluentDesignSystemProvider FillColor=@Palette.Info>

    <FluentHeader class="glossy" Style="align-items: center;">
        <MenuToggleButton />

        <h4>
        @ChildContent
        </h4>

    </FluentHeader>

    @* <h3>Cashier Toolbar</h3> *@

</FluentDesignSystemProvider>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}
