# Global gitignore

/.vs/

# .net
/src/Cashier/bin/
/src/Cashier/obj/

# Vendor JS file
#/src/Cashier/wwwroot/js/vendor.min.js
/src/Cashier/wwwroot/js/dexie.min.js

# npm
/src/npm/node_modules/
/src/npm/package-lock.json
/src/npm/dist/