# Global gitignore

/.vs/

# .net
/src/Cashier/bin/
/src/Cashier/obj/
/src/Cashier.Tests/bin/
/src/Cashier.Tests/obj/

/src/Cashier.Tests.E2E/bin/
/src/Cashier.Tests.E2E/obj/

# Local Netlify folder
.netlify
