# Global gitignore

/.vs/

# .net
/src/Cashier/bin/
/src/Cashier/obj/
/src/Cashier.Tests/bin/
/src/Cashier.Tests/obj/
/src/Cashier.Tests.E2E/bin/
/src/Cashier.Tests.E2E/obj/
/src/ComponentTests/bin/
/src/ComponentTests/obj/

# Local Netlify folder
.netlify


# .js files
node_modules/
/src/Cashier/package-lock.json
/src/Cashier/wwwroot/js/dexie.min.js
