@page "/about"
@using System.Reflection
@using MudBlazor

@inject NavigationManager NavMan

<ToolbarMud>
    <Title>About</Title>
    <ContextMenuItems>
        <MudMenuItem Icon="@IconsMud.UploadCloud" @onclick="OnWebDavClick">WebDAV Demo</MudMenuItem>
    </ContextMenuItems>
</ToolbarMud>

<h3>About</h3>

Version: @version

@code {
    string? version;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        version = GetVersionInfo();
    }

    string GetVersionInfo()
    {
        return Constants.VersionNumber;
    }

    void OnWebDavClick()
    {
        NavMan.NavigateTo("/webdav-demo");
    }
}
