@page "/appstate-viewer"

@implements IDisposable

@inject AppState State
@using System.Text.Json

<h3>App State Viewer</h3>

<ToolbarMud>
    App State Viewer
</ToolbarMud>

<div>
Xact: @XactString()
</div>
<div>
Sidebar visible: @State.SidebarVisible
</div>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();

        State.OnSidebarToggled += StateHasChanged;
    }

    string? XactString() => JsonSerializer.Serialize(State.Xact);

    public void Dispose()
    {
        // unsubscribe
        State.OnSidebarToggled -= StateHasChanged;
    }

}
