@* @page "/assetclassdetail" *@
@page "/assetclassdetail/{fullname}"

@inject ISettingsService settings
@inject IDexieDAL dal

<ToolbarMud>
    Asset Class Detail
</ToolbarMud>

<div>@fullname</div>


@code {
    [Parameter]
    public string? fullname { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await loadData();
    }

    async Task loadData()
    {
        var acctSvc = new AccountService();
        var accounts = await acctSvc.LoadInvestmentAccounts(settings, dal);

        Console.WriteLine("accounts {0}", accounts.Count);
    }
}
