@* @page "/assetclassdetail" *@
@page "/assetclassdetail/{fullname}"

@inject ISettingsService settings
@inject IDexieDAL db

<ToolbarMud>
    Asset Class Detail
</ToolbarMud>

<div>@fullname</div>


@code {
    [Parameter]
    public string? fullname { get; set; }

    // private AssetClass

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await loadData();
    }

    async Task loadData()
    {
        var acctSvc = new AccountService();
        var accounts = await acctSvc.LoadInvestmentAccounts(settings, db);

        Console.WriteLine("accounts {0}", accounts.Count);
    }

    async Task LoadAssetClasses()
    {
        var ac = await db.AssetAllocations.Get(fullname!);
        // ac.a

    }
}
