@page "/data-demo"

<FluentDesignSystemProvider AccentBaseColor=@Palette.Primary BaseLayerLuminance="1" FillColor=@Palette.Info>

<FluentHeader class="glossy">
    <h3>Data Demo</h3>
</FluentHeader>

</FluentDesignSystemProvider>

<article class="content">
</article>

@code {

}
