@page "/forecast-settings"

@using MudBlazor

@inject NavigationManager NavMan
@inject AppState State
@inject ISettingsService Settings
@inject RouterService _router

<ToolbarMud>
    <Title>Financial Forecast Settings</Title>
    <ContextMenuItems>
        <MudMenuItem @onclick="OnAddAccountClick">Add Account</MudMenuItem>
    </ContextMenuItems>
</ToolbarMud>

<MudText Typo="Typo.h4">Forecast for days:</MudText>

@* <MudRadio T="ushort">Monthly</MudRadio> *@
<MudTextField @bind-Value="_days" DebounceInterval="300" />

<MudText Typo="Typo.h4">Accounts</MudText>

@if (_accountNames.Count == 0)
{
    <MudText>No accounts selected for forecasting. Please use the menu to add.</MudText>
}
else
{
    <MudList>
        @foreach (var accountName in _accountNames)
        {
            var index = _accountNames.IndexOf(accountName);

            <MudListItem>
                <MudStack Row Class="align-center">
                    <MudText Class="flex-grow-1">
                        @accountName
                    </MudText>
                    <MudIconButton Icon="@IconsMud.Trash" Class="red" Size="Size.Medium"
                                   OnClick="() => OnDeleteClicked(index)" />
                </MudStack>

            </MudListItem>
        }
    </MudList>
}
<MudContainer MaxWidth="MaxWidth.Small" Class="mt-10 align-center d-flex flex-column gap-8">
    <MudButton StartIcon="@IconsMud.PlusCircle" Variant="Variant.Filled" Color="Color.Tertiary"
               @onclick="OnAddAccountClick">Add Account</MudButton>
</MudContainer>

<MudFab Color="Color.Tertiary" IconColor="Color.Secondary" StartIcon="@IconsMud.Check" Class="z-100"
        Style="@Constants.DefaultFabPosition" @onclick="OnFabClicked" />


@code {
    private List<string> _accountNames = [];
    private string? _account;
    private int _days = Constants.DefaultForecastDays;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await LoadData();

        await HandleAccountSelection();
    }

    void OnAddAccountClick()
    {
        var selectionMode = new SelectionModeMetadata()
            {

                SelectionType = SelectionType.Account
            };

        State.SelectionModeMetadata = selectionMode;

        NavMan.NavigateTo("/accounts");
    }

    private async Task LoadData()
    {
        // load accounts
        var accounts = await Settings.GetSetting<List<string>>(SettingsKeys.ForecastAccounts);
        if (accounts == null) return;

        _accountNames = accounts;

        // number of days
        _days = await Settings.GetSetting<int>(SettingsKeys.ForecastDays);
    }

    private async Task HandleAccountSelection()
    {
        var meta = State.SelectionModeMetadata;
        if (meta == null) return;
        if (meta.SelectionType != SelectionType.Account) return;

        var result = meta.SelectedId;
        if (result == null || result.Length == 0) return;
        // clear selection
        State.SelectionModeMetadata = null;

        _accountNames.Add(result);

        // save
        await SaveSettingsAsync();
    }

    void OnDeleteClicked(int index)
    {
        // var item = _accountNames[index];
        _accountNames.RemoveAt(index);
    }

    async Task OnFabClicked()
    {
        await SaveSettingsAsync();

        await _router.Back();
    }

    async Task SaveSettingsAsync()
    {
        await Settings.SetSetting(SettingsKeys.ForecastAccounts, _accountNames);
        await Settings.SetSetting(SettingsKeys.ForecastDays, _days);
    }
}
