@page "/gestures-demo"
@using Cashier.Components.Components

<h3>GesturesDemo</h3>

<GestureContainer OnSwipeAsync="@OnSwipe">
    <div style="width: 250px; height: 250px; background-color: green;">
        Swipe here
    </div>
</GestureContainer>

<div>
    <h3>Message:</h3>
    <p>@message</p>
</div>

@code {
    private string message = "swipe sideways";

    private Task OnSwipe(GestureContainer.SwipeDirection swipeDirection)
    {
        switch(swipeDirection) {
            case GestureContainer.SwipeDirection.Left:
                message = "swiped left!";
                Console.WriteLine(message);
                break;
            case GestureContainer.SwipeDirection.Right:
                message = "swiped right!";
                Console.WriteLine(message);
                break;
            default:
                message = string.Empty;
                break;
        }
        StateHasChanged();

        return Task.CompletedTask;
    }
}
