@page "/help"
@using MudBlazor

<ToolbarMud>
    <Title>Help</Title>
    <ContextMenuItems>
        <MudListItem Icon="@IconsMud.Boxes" Href="/appstate-viewer">App State</MudListItem>
    </ContextMenuItems>
</ToolbarMud>

<MudText>
    The user documentation is available at 
    <MudLink Href="https://alensiljak.github.io/cashier-book/">Cashier book</MudLink>.
</MudText>

@code {

}
