@page "/help"
@using MudBlazor

<ToolbarMud>
    <Title>Help</Title>
</ToolbarMud>

<MudText>
    The user documentation is available at 
    <MudLink Href="https://alensiljak.github.io/cashier-book/">Cashier book</MudLink>.
</MudText>

@code {

}
