@page "/help"
@using MudBlazor

<ToolbarMud>
    <Title>Help</Title>
</ToolbarMud>

<h3>Help</h3>

<MudText>
    The user documentation is available at https://alensiljak.github.io/cashier-book/.
</MudText>

@code {

}
