@page "/"
@inherits FluentUiPageBase

@using Microsoft.Fast.Components.FluentUI.DesignTokens
@using Cashier.Components.Components

<Toolbar>
    <Title>
        Cashier!!!
    </Title>
    <ContextMenu>
        <FluentMenuItem>
            Item
            <span slot="end">
                <FluentIcon Title="Front" Icon="Cashier.Code.LucideIcons20.Star" Slot="end" Color="Color.Accent" />
            </span>
        </FluentMenuItem>
        <FluentMenuItem>
            Item 2
            <span slot="end">
                <FluentIcon Title="Front" Icon="Cashier.Code.LucideIcons20.HelpCircle" Slot="end" Color="Color.Accent" />
            </span>
        </FluentMenuItem>
    </ContextMenu>
</Toolbar>

<FluentToolbar Orientation="Orientation.Horizontal">
    <FluentIcon Title="Front" Icon="Cashier.Code.LucideIcons24.Star" Slot="start" Color="Color.Accent" />
    <FluentIcon Title="Back" Icon="Cashier.Code.LucideIcons24.Settings" Slot="end" Color="Color.Accent" />
    <FluentLabel Color="Color.Success">Hello!</FluentLabel>
</FluentToolbar>

<PageTitle>Home</PageTitle>

<article class="content">

    <h1>Hello, world!</h1>

    <p>Welcome to the new Cashier app.</p>

    <p>Interesting links:</p>

    <ul>
        <li>
            <a href="/sidebar-demo">Sidebar Demo</a>
        </li>
        <li>
            <a href="/responsive-side-navigation">Responsive Side Navigation</a>
        </li>
        <li>
            <a href="/dexie-net-demo">Dexie.Net Demo</a>
        </li>
        <li>
            <a href="/gestures-demo">Gestures Demo</a>
        </li>
        <li>
            <a href="/app-state-demo">Application State Demo</a>
        </li>
    </ul>

    <FluentBodyContent>
        This is fluent body content.
    </FluentBodyContent>
</article>

@code {
}