@page "/"
@inherits FluentUiPageBase

@using Microsoft.Fast.Components.FluentUI.DesignTokens

<FluentDesignSystemProvider AccentBaseColor=@Palette.Primary BaseLayerLuminance="0" FillColor=@Palette.Info>
    <FluentHeader class="glossy">
        <FluentIcon Icon="Cashier.Code.LucideIcons24.Menu" Slot="start" />
        <div style="color: @Palette.Info;">
                Hi!!!
        </div>
        <FluentLabel Color="@Color.Accent">Label</FluentLabel>

        <FluentIcon Id="contextMenu" Icon="Cashier.Code.LucideIcons24.MoreVertical" Slot="end"
            @onclick="@(() => contextMenuOpen = !contextMenuOpen)"/>
        <FluentMenu Anchor="contextMenu" @bind-Open="contextMenuOpen">
            <FluentMenuItem>Item</FluentMenuItem>
            <FluentMenuItem>Item 2</FluentMenuItem>
        </FluentMenu>
    </FluentHeader>
</FluentDesignSystemProvider>

<FluentToolbar Orientation="Orientation.Horizontal">
    <FluentIcon Title="Front" Icon="Cashier.Code.LucideIcons24.Star" Slot="start" Color="Color.Accent" />
    <FluentIcon Title="Back" Icon="Cashier.Code.LucideIcons24.Settings" Slot="end" Color="Color.Accent" />
    <FluentLabel Color="Color.Success">Hello!</FluentLabel>
</FluentToolbar>

<PageTitle>Home</PageTitle>

<article class="content">

    <h1>Hello, world!</h1>

    <p>Welcome to the new Cashier app.</p>

    <p>Interesting links:</p>

    <ul>
        <li><a href="/sidebar-demo">Sidebar Demo</a></li>
        <li><a href="/data-demo">Data Demo</a></li>
    </ul>

    <FluentBodyContent>
        This is fluent body content.
    </FluentBodyContent>
</article>

@code {
    private bool contextMenuOpen { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Your initialization code goes here

    }

}