@page "/"

<FluentHeader>
    <FluentIcon Icon="Cashier.Code.LucideIcons24.Menu" />
     Hi</FluentHeader>

<FluentToolbar Orientation="Orientation.Horizontal">
    <FluentIcon Title="Front" Icon="Cashier.Code.LucideIcons24.Star" Slot="start" Color="Color.Accent" />
    <FluentIcon Title="Back" Icon="Cashier.Code.LucideIcons24.Settings" Slot="end" Color="Color.Accent" />
    <FluentLabel>Hello!</FluentLabel>
</FluentToolbar>

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to the new Cashier app.</p>

<p>Interesting links:</p>

<ul>
    <li><a href="/sidebar-demo">Sidebar Demo</a></li>
</ul>

@code {
    
}