@page "/mudblazor-demo"

@using MudBlazor

<h3>MudBlazorDemo</h3>
<p>The page to demonstrate MudBlazor functionality. For evaluation purposes.</p>

<MudText>Some Text</MudText>
<MudButton>Button</MudButton>

@code {

}
