@page "/mudblazor-demo"

@using MudBlazor

@* <MudAppBar @ref=appBar Class="glossy">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" />
    Inside appbar
</MudAppBar>
 *@
<h3>MudBlazorDemo</h3>

<p>The page to demonstrate MudBlazor functionality. For evaluation purposes.</p>

<MudText>Some Text</MudText>
<MudButton @onclick="toggleAppbar">Hide appbar</MudButton>

<MudCard>
    <MudCardHeader>
        <CardHeaderContent>Card example</CardHeaderContent>
        <CardHeaderActions>
            <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent>
        <MudText>Card content</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
    </MudCardActions>
</MudCard>

@code {
    // MudAppBar? appBar;

    void toggleAppbar()
    {
        // appBar.Style = "display: none;";
    }
}
