* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 4rem;
    transition: 0.4s; /* cubic-bezier(0.18, 0.89, 0.32, 1.28); */
    font-family: "Bebas Neue";
}

    .sidenav a {
        padding: 0.5rem 1rem;
        text-decoration: none;
        color: #bdbdbd;
        display: block;
        transition: 0.4s;
        white-space: nowrap;
        font-size: 2rem;
    }

        .sidenav a:hover {
            color: white;
            background: #9e9e9e;
        }
    /* Position and style the close button (top right corner) */
    .sidenav .close-btn {
        position: absolute;
        top: -1rem;
        right: 1rem;
        font-size: 5rem;
    }

        .sidenav .close-btn:hover {
            background: initial;
            transform: scale(1.2);
        }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left 0.4s; /* cubic-bezier(0.18, 0.89, 0.32, 1.28); */
    padding: 20px;
    width: 100%;
}

body {
    overflow-x: hidden;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #9CCC65;
    overflow: hidden;
}

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        display: block;
        padding: 1rem;
        text-decoration: none;
    }
        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #DCEDC8;
            color: black;
        }

/* On smaller screens, where height is less than 480px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 480px) {
    .sidenav {
        padding-top: 3rem;
    }

        .sidenav a {
            font-size: 1.5rem;
        }
}

a svg {
    transition: all 0.5s ease;
}

    a svg:hover {
        transform: rotate(180deg);
    }

section h1 {
    font-family: "Bebas Neue";
    font-size: 4rem;
}

section p {
    font-family: "Lato";
    line-height: 1.8;
    font-size: 1.5rem;
}
