@page "/sidebar-demo"

<PageTitle>Sidebar Demo</PageTitle>

<p>This sidebar demo is using FluentUI Panel component as the sidebar.</p>

<p>To-Do:</p>

<ul>
    <li>Install FluentUI</li>
</ul>

<div>
    <h5>Notes</h5>
    <p>This thing is instantaneous!</p>
</div>
