@page "/sidebar-demo"
@using Microsoft.Fast.Components.FluentUI.DesignTokens

<PageTitle>Sidebar Demo</PageTitle>

<p>This sidebar demo is using FluentUI Panel component as the sidebar.</p>

@* <FluentDesignSystemProvider BaseLayerLuminance="(float?)StandardLuminance.DarkMode">
</FluentDesignSystemProvider> *@

@* <BaseLayerLuminance Value="(float?)StandardLuminance.DarkMode"> *@
    <FluentCard Style="padding: 1.5rem; width: 400px; height: 250px;" @ref="refCard">
        @* ParentReference="@context" *@
    <h2>Hello World!</h2>
    <FluentButton Appearance="Appearance.Accent">Accent</FluentButton>
    <FluentButton @onclick="ShowPanel">Show Panel</FluentButton>
    </FluentCard>
@* </BaseLayerLuminance> *@

<FluentButton @onclick="@OpenPanelRightAsync" Appearance="Appearance.Accent">
    Open panel (&gt;&gt;)
</FluentButton>

<FluentButton @onclick="@OpenPanelLeftAsync" Appearance="Appearance.Accent">
    Open panel (&lt;&lt;)
</FluentButton>

<div>
    <h5>Notes</h5>
    <p>This thing is instantaneous!</p>
</div>
