@page "/sync"

@inject IJSRuntime JSRuntime
@inject ISnackbar Snackbar
@inject HttpClient HttpClient

@using Cashier.Services
@using MudBlazor

<ToolbarMud>
    <Title>Cashier Sync</Title>
    <ContextMenuItems>

    </ContextMenuItems>
</ToolbarMud>

<MudText>To update data from Ledger, the Cashier Server must be running and accessible.</MudText>
<MudText>You can run Cashier Server locally.</MudText>

<MudText Typo="Typo.h4" Align="Align.Center">Settings</MudText>

<MudTextField T="string" Placeholder="http://localhost:3000" Label="Server URL" Value="@ServerUrl" ValueChanged="saveSyncServerUrl" />

<MudDivider DividerType="DividerType.Middle" />

<MudText Typo="Typo.h4" Align="Align.Center" Class="mt-3">Synchronization</MudText>

<MudCheckBox T="bool" @bind-Checked="syncAccounts">Sync accounts list with balances</MudCheckBox>

<MudCheckBox T="bool" @bind-Checked="syncAaValues">Sync account values in base currency 
    (ledger b ^&lt;root&gt; -X &lt;CUR&gt; --flat --no-total). Used for asset allocation.</MudCheckBox>

<MudCheckBox T="bool" @bind-Checked="syncPayees">Sync Payees</MudCheckBox>

<MudContainer Class="d-flex justify-center">
    <MudButton Variant="Variant.Filled" Color="Color.Tertiary" Size="Size.Large"
               StartIcon="@IconsMud.RefreshCW" Style="color: var(--mud-palette-secondary);" Class=""
               @onclick="onSyncClicked">Sync</MudButton>
</MudContainer>

@code {
    private string _serverUrl = default!;
    string ServerUrl
    {
        get
        {
            return _serverUrl ?? "http://localhost:3000";
        }
        set
        {
            _serverUrl = value;
        }
    }
    string? rootInvestmentAccount = null;
    string? currency = null;

    bool syncAccounts = false;
    bool syncAaValues = false;
    bool syncPayees = false;

    bool showAccountProgress = false;
    bool showPayeesProgress = false;
    bool showAssetProgress = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await loadSettings();
    }

    async Task loadSettings()
    {
        var settings = new SettingsService(JSRuntime);

        ServerUrl = await settings.GetSyncServerUrl();
        rootInvestmentAccount = await settings.GetRootInvestmentAccount();
        currency = await settings.GetDefaultCurrency();

        syncAccounts = await settings.GetSyncAccounts();
        syncAaValues = await settings.GetSyncAaValues();
        syncPayees = await settings.GetSyncPayees();

        // StateHasChanged();
    }

    ///  <summary>
    /// Synchronize with Cashier Server.
    /// </summary>
    /// <returns></returns>
    async Task onSyncClicked()
    {
        // test connection
        var svc = new SyncService(HttpClient, ServerUrl);
        
        await svc.test();
    }

    async Task saveSyncServerUrl(string value)
    {
        // Console.WriteLine("sync server changed: {0}", value);
        ServerUrl = value;

        var settings = new SettingsService(JSRuntime);
        await settings.SetSyncServerUrl(value);

        Snackbar.Add("Sync URL saved");
    }
}
