@page "/tx"

@inject ISnackbar Snackbar
@inject NavigationManager NavMan
@inject AppState State
@inject NotificationService Notification

@using MudBlazor

<ToolbarMud>
    <Title>Journal Entry</Title>
    <ContextMenuItems>
        <MudMenuItem Icon="@IconsMud.Save" @onclick="OnSaveClicked">Save</MudMenuItem>
        <MudMenuItem Icon="@IconsMud.XCircle">Reset</MudMenuItem>
    </ContextMenuItems>

</ToolbarMud>

@* FAB *@
<MudFab Color="Color.Tertiary" IconColor="Color.Secondary" StartIcon="@IconsMud.Check"
        Style="@Constants.DefaultFabPosition" @onclick="OnFab" />

<XactEditor />

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();

        if(State.Xact == null)
        {
            NavMan.NavigateTo("/");
        }
    }

    void OnFab()
    {
        // save
        OnSaveClicked();
    }

    void OnSaveClicked()
    {
        Notification.Warning("not implemented");
    }
}
